/* Make space for navbar*/
body 
{
    padding-top: 56px;
}

/* Size for page Name */
nav .navbar-brand
{
    font-size: 2em;
    font-family: Brush Script MT, Arial, Helvetica, sans-serif;
}

/* Colors for Nav Bar */
nav .navbar-brand .green
{
    color: #2e944b;

}

nav .navbar-brand .group_title
{
    color: #2a2c2b;
    font-style: italic;
}

.table-right-align {
    text-align: right;
}

#portfolio {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#player_table_top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#bets-data-display {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

#player_table {
    vertical-align: middle;
}

#event_team_table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td span {
    display: inline-block;
    margin-right: 5px;
}

#scorecard_table {
    border-spacing: 0;
}
#scorecard_header {

    font-size: small;
    border: 1px solid #bbbbbb;
}

#scorecard_body {

    font-size: smaller;
    border: 1px solid #bbbbbb;
}

.scorecard_cell {
    width: 2em;
    text-align: center;
}

input[type="number"].scorecard_cell::-webkit-inner-spin-button,
input[type="number"].scorecard_cell::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
}

#scrollable-table-scorecard {
    width: calc(100vw - 5px);
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

#scrollable-table-scorecard .table thead th:first-child,
#scrollable-table-scorecard .table tbody td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
}

.round-header {
    background-color: #315139; 
    color: white; 
    border-top: 2px solid #6c757d; 
    border-bottom: 2px solid #164426; 
    font-weight: bold; 
}

.round-header-text {
    color: white !important; 
}

.match-header {
    background-color: #e1ece3; 
    color: white; 
    border-top: 1px solid #d4d4d4; 
    border-bottom: 1px solid #d4d4d4; 
    font-weight: bold; 
}

.round-footer {
    margin-bottom: 10px; 
    border-bottom: 2px solid #000; 
}



@media (max-width: 700px) {
    td span {
        display: block;
        margin-bottom: 10px;
    }

    input #player_name {
        width: 95%;
    }
}