/* Size for page Name */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for Nav Bar */
nav .navbar-brand .green
{
    color: #2e944b;
}

.table-right-align {
    text-align: right;
}

#portfolio {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
