{% extends "layout.html" %}

{% block title %}
    Bets Input
{% endblock %}

{% block main %}
    
    <p><b>Event Name: </b>{{ event_name }}</p>
    <input type="hidden" name="team_a_name" id="team_a_name">
    <input type="hidden" name="team_b_name" id="team_b_name">

    <b>Round: </b>
    <select name="round_select" id="round_select">
        <option value="" disabled selected>Select a round</option>
        {% for round in rounds %}
            <option value="{{ round.id }}">{{ round.round_name }}</option>
        {% endfor %}
    </select>
    <p></p>
    <b>Match: </b>
    <select id="match-select">
        <!-- Options populated with JavaScript -->
    </select>

    <div class="mx-auto" id="bets-data-display">
        <!-- Data table populated with JavaScript -->
    </div>

    <script>
        const roundSelect = document.getElementById('round_select');
        const matchSelect = document.getElementById('match-select');
        

        roundSelect.addEventListener('change', async () => {
            const round_id = roundSelect.value;
            const response = await fetch(`/api/matches/${round_id}`);
            const data = await response.json();

            matchSelect.innerHTML = '';
            //Add a default option non selectable
            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.textContent = 'Select a match';
            defaultOption.disabled = true;
            defaultOption.selected = true;
            matchSelect.appendChild(defaultOption);

            //Add an option for each match
            for (const match of data.matches) {
                const option = document.createElement('option');
                option.value = match.id;
                option.textContent = match.matchup;
                matchSelect.appendChild(option);
            }

            // Clear bets data display
            const dataDisplay = document.getElementById('bets-data-display');
            dataDisplay.innerHTML = '';

        });

        // Add an event listener to match select, to fetch data on the round 
        // for each hole, will return hole_number, team a score, team b score, and match score
        let match_api_data;
        matchSelect.addEventListener('change', async () => {

            const match_id = matchSelect.value;
            const response = await fetch(`/api/match_data/${match_id}`);
            match_api_data = await response.json();
            console.log(match_api_data);

            const dataDisplay = document.getElementById('bets-data-display');
            dataDisplay.innerHTML = '';

            const table = document.createElement('table');
            const thead = document.createElement('thead');
            const tbody = document.createElement('tbody');

            table.classList.add('table');
            table.classList.add('table-hover');
            table.classList.add('table-striped');
            
            const headerRow = document.createElement('tr');
            const headerHole = document.createElement('th');
            headerHole.textContent = 'Hole';
            headerRow.appendChild(headerHole);

            const headerTeamA = document.createElement('th');
            team_a_name = document.getElementById('team_a_name');
            headerTeamA.textContent = team_a_name.value;
            headerRow.appendChild(headerTeamA);

            const headerTeamB = document.createElement('th');
            team_b_name = document.getElementById('team_b_name');
            headerTeamB.textContent = team_b_name.value;
            headerRow.appendChild(headerTeamB);

            const headerMatch = document.createElement('th');
            headerMatch.textContent = 'Match';
            headerRow.appendChild(headerMatch);

            const headerBets = document.createElement('th');
            headerBets.textContent = 'Bets';
            headerRow.appendChild(headerBets);

            thead.appendChild(headerRow);
            table.appendChild(thead);

            for (let i = 1; i <= 18; i++) {
                const holeRow = document.createElement('tr');

                const holeNumber = document.createElement('td');
                holeNumber.textContent = i;
                holeRow.appendChild(holeNumber);
                
                // Display team a score, team b score and match score in remaining 3 columns
                const teamAScore = document.createElement('td');
                teamAScore.textContent = match_api_data[i]["team_a_net_cumulative"];
                holeRow.appendChild(teamAScore);

                const teamBScore = document.createElement('td');
                teamBScore.textContent = match_api_data[i].team_b_net_cumulative;
                holeRow.appendChild(teamBScore);

                const matchScore = document.createElement('td');
                matchScore.textContent = match_api_data[i].match_net;
                holeRow.appendChild(matchScore);

                const betsCell = document.createElement('td');
                
                if (i < 10) {
                    if (i == 1) {
                        betsCell.appendChild(document.createTextNode(`F9: ${match_api_data[i]["F9"]["current_bets"]} 18: ${match_api_data[i]["18"]["current_bets"]}`));
                    } else {
                        if (match_api_data[i]["F9"]["available_bets"] > 0) {
                            const betsSelectF9 = createBetsSelect('F9', i);
                            betsCell.appendChild(document.createTextNode('F9: '));
                            betsCell.appendChild(betsSelectF9);
                        }
                        if (match_api_data[i]["18"]["available_bets"] > 0) {
                            const betsSelect18 = createBetsSelect('18', i);
                            betsCell.appendChild(document.createTextNode(' 18: '));
                            betsCell.appendChild(betsSelect18);
                        }
                        if (match_api_data[i]["F9"]["available_bets"] == 0 && match_api_data[i]["18"]["available_bets"] == 0) {
                            betsCell.appendChild(document.createTextNode('n/a'));
                        }
                    } 
                }
                if (i >= 10) {
                    if (i == 10) {
                        betsCell.appendChild(document.createTextNode(`B9: ${match_api_data[i]["B9"]["current_bets"]}`));
                        if (match_api_data[i]["18"]["available_bets"] > 0) {
                            const betsSelect18 = createBetsSelect('18', i);
                            betsCell.appendChild(document.createTextNode(' 18: '));
                            betsCell.appendChild(betsSelect18);
                        }
                    } else {
                        if (match_api_data[i]["B9"]["available_bets"] > 0) {
                            const betsSelectF9 = createBetsSelect('B9', i);
                            betsCell.appendChild(document.createTextNode('B9: '));
                            betsCell.appendChild(betsSelectF9);
                        }
                        if (match_api_data[i]["18"]["available_bets"] > 0) {
                            const betsSelect18 = createBetsSelect('18', i);
                            betsCell.appendChild(document.createTextNode(' 18: '));
                            betsCell.appendChild(betsSelect18);
                        }
                        if (match_api_data[i]["B9"]["available_bets"] == 0 && match_api_data[i]["18"]["available_bets"] == 0) {
                            betsCell.appendChild(document.createTextNode('n/a'));
                        }
                    }
                }
                holeRow.appendChild(betsCell);

                tbody.appendChild(holeRow);
            };
            table.appendChild(tbody);
            dataDisplay.appendChild(table);
        });

        function createBetsSelect(type, holeNumber) {
            const betsSelect = document.createElement('select');

            // Populate the select element with the available bets
            for (let i = 0; i <= match_api_data[holeNumber][type]["available_bets"]; i++) {
                const betOption = document.createElement('option');
                betOption.value = i;
                betOption.textContent = i;
                if (i === match_api_data[holeNumber][type]["current_bets"]) {
                    betOption.selected = true;
                }
                betsSelect.appendChild(betOption);
            }

            // Add an event listener to the select element
            betsSelect.addEventListener('change', () => {
                // Update the current bet value for this hole
                match_api_data[holeNumber][type]["current_bets"] = parseInt(betsSelect.value);

                // Recalculate the available bets for each hole
                recalculateAvailableBets();
            });

            return betsSelect;
        }

        function recalculateAvailableBets() {
            // This function should recalculate the available bets for each hole
            // based on the current bets selected and the match score for each hole.
            // The implementation of this function depends on your specific business logic.
            //log that it made to it this function
            console.log('recalculateAvailableBets');
            //clear and re-populate the bets column and select elements
        }
    </script>
{% endblock %}
