{% extends "layout.html" %}

{% block title %}
    Bets Input
{% endblock %}

{% block main %}
    
    <p><b>Event Name: </b>{{ event_name }}</p>
    <input type="hidden" id="event_status" value="{{ event_status}}">
    <input type="hidden" id="match_id_sent" value="{{ match_id_sent }}">
    <input type="hidden" id="round_id_sent" value="{{ round_id_sent }}">

    <b>Round: </b>
    {% if not round_id_sent %}
        <select class="form-select mx-auto w-auto" name="round_select" id="round_select">
            <option value="" disabled selected>Select a round</option>
            {% for round in rounds %}
                <option value="{{ round.id }}">{{ round.round_name }}</option>
            {% endfor %}
        </select>
    {% else %}
        {{ round_sent.round_name }}
    {% endif %}
    <p></p>
    <b>Match: </b>
    {% if team_a_sent %} 
        {{team_a_sent}} vs. {{team_b_sent}} 
    {% else %}
        <select class="form-select mx-auto w-auto" id="match-select">
            <!-- Options populated with JavaScript -->
        </select>
    {% endif %}

    <div class="mx-auto" id="bets-data-display">
        <!-- Data table populated with JavaScript -->
    </div>
    <div class="mx-auto">
        <button class="btn btn-success" id="submit-bets" style="display: none;">Submit Bets</button>
    </div>

    <script>
        const roundSelect = document.getElementById('round_select');
        const matchSelect = document.getElementById('match-select');
        const eventStatus = document.getElementById('event_status').value;
        const match_id_sent = document.getElementById('match_id_sent').value;
        const round_id_sent = document.getElementById('round_id_sent').value;
        let data;
        let round_id;

        if (round_id_sent) {
            round_id = round_id_sent;
        } else {
            roundSelect.addEventListener('change', async () => {
                
                round_id = roundSelect.value;
                const response = await fetch(`/api/matches/${round_id}`);
                data = await response.json();

                matchSelect.innerHTML = '';
                //Add a default option non selectable
                const defaultOption = document.createElement('option');
                defaultOption.value = '';
                defaultOption.textContent = 'Select a match';
                defaultOption.disabled = true;
                defaultOption.selected = true;
                matchSelect.appendChild(defaultOption);

                //Add an option for each match
                for (const match of data.matches) {
                    const option = document.createElement('option');
                    option.value = match.id;
                    option.textContent = match.matchup;
                    matchSelect.appendChild(option);
                }

                // Clear bets data display
                const dataDisplay = document.getElementById('bets-data-display');
                dataDisplay.innerHTML = '';

                //Hide the submit bets button
                document.getElementById('submit-bets').style.display = 'none';

            });
        };

        // Add an event listener to match select, to fetch data on the round 
        // for each hole, will return hole_number, team a score, team b score, and match score
        let match_api_data;
        let match_id;
        
        async function fetchDataAndUpdateDisplay() {
            if (match_id_sent) {
                match_id = match_id_sent;
            } else {
                match_id = matchSelect.value;
            }
            const response = await fetch(`/api/match_data/${match_id}`);
            match_api_data = await response.json();

            const dataDisplay = document.getElementById('bets-data-display');
            dataDisplay.innerHTML = '';

            if (eventStatus == 'COMPLETE') {
                const message = document.createElement('p');
                message.textContent = 'To update bets, set event to incomplete.';
                message.style.fontStyle = 'italic';
                dataDisplay.appendChild(message);
            } else if (eventStatus == 'INCOMPLETE') {
                document.getElementById('submit-bets').style.display = 'inline';
            }
            
            
            const table = document.createElement('table');
            const thead = document.createElement('thead');
            const tbody = document.createElement('tbody');

            table.classList.add('table');
            table.classList.add('table-hover');
            table.classList.add('table-striped');
            
            const headerRow = document.createElement('tr');

            const headerBets = document.createElement('th');
            headerBets.textContent = 'Bets on Tee';
            headerRow.appendChild(headerBets);
            
            const headerHole = document.createElement('th');
            headerHole.textContent = 'Hole';
            headerRow.appendChild(headerHole);

            const headerTeamA = document.createElement('th');
            headerTeamA.textContent = "TeamA";
            headerRow.appendChild(headerTeamA);

            const headerTeamB = document.createElement('th');
            headerTeamB.textContent = "TeamB";
            headerRow.appendChild(headerTeamB);

            const headerMatch = document.createElement('th');
            headerMatch.textContent = 'Match';
            headerRow.appendChild(headerMatch);

            

            thead.appendChild(headerRow);
            table.appendChild(thead);

            for (let i = 1; i <= 18; i++) {
                const holeRow = document.createElement('tr');

                const betsCell = document.createElement('td');
                betsCell.id = `betsCell_${i}`;
                editBetsCell(i, betsCell);
                holeRow.appendChild(betsCell);

                const holeNumber = document.createElement('td');
                holeNumber.textContent = i;
                holeRow.appendChild(holeNumber);
                
                // Display team a score, team b score and match score in remaining 3 columns
                const teamAScore = document.createElement('td');
                teamAScore.textContent = match_api_data[i].team_a_net_cumulative === 0 ? 'E' : match_api_data[i].team_a_net_cumulative;
                holeRow.appendChild(teamAScore);

                const teamBScore = document.createElement('td');
                teamBScore.textContent = match_api_data[i].team_b_net_cumulative === 0 ? 'E' : match_api_data[i].team_b_net_cumulative;
                holeRow.appendChild(teamBScore);

                const matchScore = document.createElement('td');
                matchScore.textContent = match_api_data[i].match_net === 0 ? 'E' : match_api_data[i].match_net;
                holeRow.appendChild(matchScore);

                tbody.appendChild(holeRow);
            };
            table.appendChild(tbody);
            dataDisplay.appendChild(table);

        };
        
        if (!match_id_sent) {
            matchSelect.addEventListener('change', fetchDataAndUpdateDisplay);
        };


        function editBetsCell(i, betsCell) {
            betsCell.innerHTML = ''; // Clear the bets cell

            if (i < 10) {
                if (i == 1) {
                    const betsCheckboxF9 = createBetsCheckbox('F9', i);
                    betsCheckboxF9.checked = true;
                    betsCheckboxF9.disabled = true;
                    betsCell.appendChild(document.createTextNode('F9: '));
                    betsCell.appendChild(betsCheckboxF9);

                    const betsCheckbox18 = createBetsCheckbox('18', i);
                    betsCheckbox18.checked = true;
                    betsCheckbox18.disabled = true;
                    betsCell.appendChild(document.createTextNode(' 18: '));
                    betsCell.appendChild(betsCheckbox18);

                } else {
                    if (match_api_data[i]["F9"]["available_bets"] == 1) {
                        const betsCheckboxF9 = createBetsCheckbox('F9', i);
                        betsCell.appendChild(document.createTextNode('F9: '));
                        betsCell.appendChild(betsCheckboxF9);
                    }
                    if (match_api_data[i]["18"]["available_bets"] == 1) {
                        const betsCheckbox18 = createBetsCheckbox('18', i);
                        betsCell.appendChild(document.createTextNode(' 18: '));
                        betsCell.appendChild(betsCheckbox18);
                    }
                    if (match_api_data[i]["F9"]["available_bets"] == 0 && match_api_data[i]["18"]["available_bets"] == 0) {
                        betsCell.appendChild(document.createTextNode('n/a'));
                    }
                } 
            }
            if (i >= 10) {
                if (i == 10) {
                    const betsCheckboxB9 = createBetsCheckbox('B9', i);
                    betsCheckboxB9.checked = true;
                    betsCheckboxB9.disabled = true;
                    betsCell.appendChild(document.createTextNode('B9: '));
                    betsCell.appendChild(betsCheckboxB9);
                    if (match_api_data[i]["18"]["available_bets"] == 1) {
                        const betsCheckbox18 = createBetsCheckbox('18', i);
                        betsCell.appendChild(document.createTextNode(' 18: '));
                        betsCell.appendChild(betsCheckbox18);
                    }
                } else {
                    if (match_api_data[i]["B9"]["available_bets"] == 1) {    
                        const betsCheckboxB9 = createBetsCheckbox('B9', i);
                        betsCell.appendChild(document.createTextNode('B9: '));
                        betsCell.appendChild(betsCheckboxB9);
                    }
                    if (match_api_data[i]["18"]["available_bets"] == 1) {
                        const betsCheckbox18 = createBetsCheckbox('18', i);
                        betsCell.appendChild(document.createTextNode(' 18: '));
                        betsCell.appendChild(betsCheckbox18);
                    }
                    if (match_api_data[i]["B9"]["available_bets"] == 0 && match_api_data[i]["18"]["available_bets"] == 0) {
                        betsCell.appendChild(document.createTextNode('n/a'));
                    }
                }
            }
        }
        
        function createBetsCheckbox(type, holeNumber) {
            const betsCheckbox = document.createElement('input');
            betsCheckbox.type = 'checkbox';
            betsCheckbox.name = `${type}_${holeNumber}`;
            betsCheckbox.classList.add('custom-checkbox');

            // Check the checkbox if there's a current bet for this hole
            if (match_api_data[holeNumber][type]["current_bets"] > 0) {
                betsCheckbox.checked = true;
            }

            // Add an event listener to the checkbox
            betsCheckbox.addEventListener('change', () => {
                // Update the current bet value for this hole
                match_api_data[holeNumber][type]["current_bets"] = betsCheckbox.checked ? 1 : 0;

                // Recalculate the available bets for each hole
                recalculateAvailableBets();
            });

            return betsCheckbox;
        }

        function recalculateAvailableBets() {
            // Mimic app/helper function on checking available bets
            for (let i = 2; i <= 18; i++) {
                if (i < 10) {
                    if (match_api_data[i]["F9"]["current_bets"] == 0) {
                        if (check_bet_availability(match_api_data, i, "F9")) {
                            match_api_data[i]["F9"]["available_bets"] = 1;
                        } else {
                            match_api_data[i]["F9"]["available_bets"] = 0;
                        }
                    }
                }
                if (i > 10) {
                    if (match_api_data[i]["B9"]["current_bets"] == 0) {
                        if (check_bet_availability(match_api_data, i, "B9")) {
                            match_api_data[i]["B9"]["available_bets"] = 1;
                        } else {
                            match_api_data[i]["B9"]["available_bets"] = 0;
                        }
                    }
                }
                if (match_api_data[i]["18"]["current_bets"] == 0) {
                    if (check_bet_availability(match_api_data, i, "18")) {
                        match_api_data[i]["18"]["available_bets"] = 1;
                    } else {
                        match_api_data[i]["18"]["available_bets"] = 0;
                    }
                }
            }

            // Clear and re-populate the bets column and select elements
            for (let i = 1; i <= 18; i++) {
                const betsCell = document.querySelector(`#betsCell_${i}`);
                editBetsCell(i, betsCell);
                
            }
        }

        function check_bet_availability(match_api_data, hole_number, bet_type) {
            let check_answer = true;
            if (bet_type == "F9") {
                let latest_bet_hole = 1;
                let latest_match_score = 0;
                for (i = 2; i <= 9; i++) {
                    if (hole_number == i || match_api_data[i]["F9"]["current_bets"] == 1) {
                        if (match_api_data[i - 1]["match_net"] != latest_match_score) {
                            latest_bet_hole = i;
                            latest_match_score = match_api_data[i - 1]["match_net"];
                        } else {
                            check_answer = false;
                            break;
                        }
                    }
                }
            } else if (bet_type == "B9") {
                let latest_bet_hole = 10;
                let latest_match_score = match_api_data[9]["match_net"];
                for (i = 11; i <= 18; i++) {
                    if (hole_number == i || match_api_data[i]["B9"]["current_bets"] == 1) {
                        if (match_api_data[i - 1]["match_net"] != latest_match_score) {
                            latest_bet_hole = i;
                            latest_match_score = match_api_data[i - 1]["match_net"];
                        } else {
                            check_answer = false;
                            break
                        }
                    }
                }
            } else if (bet_type == "18") {
                let latest_bet_hole = 1;
                let latest_match_score = 0;
                for (i = 2; i <= 18; i++) {
                    if (hole_number == i || match_api_data[i]["18"]["current_bets"] == 1) {
                        if (match_api_data[i - 1]["match_net"] != latest_match_score) {
                            latest_bet_hole = i;
                            latest_match_score = match_api_data[i - 1]["match_net"];
                        } else {
                            check_answer = false;
                            break
                        }
                    }
                }
            }
            return check_answer;
        }

        // Send the updated match_api_data to process_bets server route
        // to update the bets in the database after submit bets clicked
        const submitBetsButton = document.getElementById('submit-bets');
        submitBetsButton.addEventListener('click', async () => {
            match_api_data["match_id"] = match_id;
            
            const response = await fetch('/process_bets', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(match_api_data)
            });
            const result = await response.json();
            console.log(result);

            // Check if an error occurred
            if (result.error) {
                // Redirect to the apology page and send the error message

                window.location.href = `/apology?message=${encodeURIComponent(result.message)}`;
            } else {
                // Create a form and submit it to make a POST request
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/bets_results';

                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = 'match_id';
                hiddenField.value = match_id;

                form.appendChild(hiddenField);
                document.body.appendChild(form);
                form.submit();
            }
        });

        // Call the function on page load if a match is already selected
        if (match_id_sent) {
            fetchDataAndUpdateDisplay();
        }

    </script>
{% endblock %}
