{% extends "layout.html" %}

{% block title %}
    Group Options
{% endblock %}

{% block main %}
    <form action="/bets_input">
        <p>
            <button class="btn btn-primary" name="bets_action" value="bets_input" type="submit">Bets Input</button>
        </p>
    </form>
 <div></div>
    <form action="/bets_results">
        <p>
            <button class="btn btn-primary" name="bets_action" value="bets_results" type="submit">Bets Results</button>
        </p>
    </form>
{% endblock %}
