{% extends "layout.html" %}

{% block title %}
    Finalize Event Details
{% endblock %}

{% block main %}
 import team names, put into table with player 1 and 2 options verticl one column; add the players to teams via drop downs 
from all players list in group,  and also input handicap for the event.
<p></p>
    <div>
        <p><b>Event Name:</b> {{ event_name }}</p>
        
        <p> <b>Number of Players:</b> {{ num_players }}</p>

        <p><b>Number of Teams:</b> {{ num_teams }}</p>

        <p>
            {% for player in group_players %} 
                {{ player.player_name }}
            {% endfor %}

        </p>

        <p>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Team Rosters</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in team_names %}
                        <tr>
                            <td>{{ team }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <div class="form-group">
                                        <select class="form-control" name="player_a_team_" + {{ team }}>
                                            <option selected disabled>Player A</option>
                                            {% for player in group_players %} 
                                                <option value="{{ player.player_name }}">{{ player.player_name }}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                </span>
                                <span>hcp box</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span>input b option </span><span>hcp input</span> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
    <script>
   

    </script>
{% endblock %}

