{% extends "layout.html" %}

{% block title %}
    Finalize Event Details
{% endblock %}

{% block main %}

<p></p>
    <div>
        <form id="create_event_form" action="/create_event_continued" method="post">
            <p><b>Event Name:</b> {{ event_name }}</p>
            <input type="hidden" name="event_name" value="{{ event_name }}">

            {% if event_date %}
                <p><b>Event Date:</b> {{ event_date }}</p>  
            {% endif %}
            <input type="hidden" name="event_date" value="{{ event_date }}">
            
            <p> <b>Number of Players:</b> {{ num_players }}</p>
            <input type="hidden" name="num_players" value="{{ num_players }}">

            <p><b>Number of Teams:</b> {{ num_teams }}</p>
            <input type="hidden" name="num_teams" value="{{ num_teams }}">


            <i>Note: Enter "plus" handicaps (better than scratch) as negative (-)</i>

            <div>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Team Rosters</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in team_names %}
                            <tr>
                                <td><b>{{ team }}  - Players</b></td>
                                <input type="hidden" name="team_name_{{ loop.index0 }}" value="{{ team }}">
                            </tr>
                            <tr>
                                <td>
                                    <span>
                                        <div>
                                            <select class="form-control" name="player_a_team_{{ loop.index0 }}">
                                                <option selected disabled>Player A</option>
                                                {% for player in group_players %} 
                                                    <option value="{{ player.id }}">{{ player.player_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </span>
                                    <span><input class="form-control mx-auto w-auto" name="hcp_player_a_team_{{ loop.index0 }}" type="number" step="0.1" placeholder="HCP"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>
                                        <div>
                                            <select class="form-control" name="player_b_team_{{ loop.index0 }}">
                                                <option selected disabled>Player B</option>
                                                {% for player in group_players %} 
                                                    <option value="{{ player.id }}">{{ player.player_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </span>
                                    <span><input class="form-control mx-auto w-auto" name="hcp_player_b_team_{{ loop.index0 }}" type="number" step="0.1" placeholder="HCP"></span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <p>Play Off Low Handicap</p>
                No
                <label class="switch">
                    <input type="checkbox" name="play_off_min" id="play-off-min-toggle">
                    <span class="slider round"></span>
                </label>
                Yes
            </div>
            <p></p>
            <div>
                <b>Handicap Allowance (%):</b>
                <select class="form-select mx-auto w-auto" name="hcp_allowance">
                    <option selected value="0.85">85%</option>
                    <option value="0.9">90%</option>
                    <option value="1.0">100%</option>
                </select>
            </div>
            <p></p>
        </form>
        <button class="btn btn-success" id="create_event" type="submit">Submit Teams & Handicaps</button>
    </div>
    <script>
        
        var create_event = document.querySelector("button[id='create_event']");
        create_event.addEventListener("click", function() {
            let form = document.getElementById("create_event_form");
            form.submit();
        });
        
    </script>
{% endblock %}

