{% extends "layout.html" %}

{% block title %}
    Event Structure
{% endblock %}

{% block main %}

<p></p>
    <div>
        <form action="/event_structure" method="post" id="event_details_form">
            <div class="mb-3">
                <p><b>Event Name:</b> {{ event_name }}</p>
                <p><b>Number of teams:</b> {{ num_teams }}</p>
                <input type="hidden" name="num_teams" value="{{ num_teams }}">
                <input type="hidden" name="num_rounds_input" value="{{ rounds|length }}">
                {% for team in teams %}
                    <input class="team_names" type="hidden" name="team_{{ loop.index }}" data-id="{{ team.id }}" value="{{ team.team_name }}">
                {% endfor %}
            
            </div>
            <p></p>

            <div class="mx-auto" id="event_structure_table">
                <h2>Event Rounds & Matches</h2>
                <br>
                <table class="table table-hover table-striped" >
                    <thead>
                        <tr class="table-primary">
                            <th>Rounds & Matches</th>
                            <th>Team Scores</th>
                            <th>Edit??</th>
                        </tr>
                    </thead>
                    <tbody id="rounds_table">
                        {% for round in rounds %}
                            <tr>
                                <td colspan="2">RD{{ round.round_number }} {{ round.round_name}}</td>
                                <td>
                                    <span>
                                        Edit
                                    </span>
                                    <span>
                                        Delete
                                    </span>
                                </td>
                            </tr>
                            {%  for i in range(num_teams) %}
                                <tr>
                                    <td colspan="3">Course: tbd name via database</td>
                                </tr>  
                                <tr>
                                    <td colspan="2">Match {{ loop.index }}</td>
                                    <td>scorecard</td>
                                </tr>
                                <tr>
                                    <td>
                                        team a
                                    </td>
                                    <td>
                                        team a score
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        team b
                                    </td>
                                    <td>
                                        team b score
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}    
                        {% endfor %}
                    </tbody>
                </table>
                
            <div>
                <button class="btn btn-primary" id = "add_round_btn">Add New Round </button>
            </div>
            <div>
             
                <button class="btn btn-primary" id = "submit_round_btn" style="display: none;"> Save Round </button>
            </div>
            <p></p>

        </form>
    </div>
    <script>

        let roundsTable = document.getElementById("rounds_table");
        let addRoundButton = document.getElementById("add_round_btn");
        let saveRoundButton = document.getElementById("submit_round_btn");
        let num_teams_input = document.querySelector("input[name='num_teams']");
        let num_teams = parseInt(num_teams_input.value, 10);
        let num_matches = num_teams / 2;
        console.log("first breakpoint");
        let teamInputs = document.querySelectorAll("input[class='team_names']");
        teamNames = [];
        teamInputs.forEach(function(input) {
            let team = {
                id: input.dataset.id,
                name: input.value
            };
            teamNames.push(team);
        });

        console.log("second breakpoint");

        addRoundButton.addEventListener("click", function(event) {
            event.preventDefault();

            addRoundButton.style.display = "none";
            saveRoundButton.style.display = "inline-block";

            let newRoundRow = roundsTable.insertRow();
            let newCell = newRoundRow.insertCell(0);
            newCell.innerHTML = "New Round";
            let newCell2 = newRoundRow.insertCell(1);
            newCell2.colSpan = 2;
            let newInput = document.createElement("input");
            newInput.type = "text";
            newInput.name = "new_round_name";
            newInput.placeholder = "Round Name (Opt)";
            newCell2.appendChild(newInput);
            let newCourseRow = roundsTable.insertRow();
            let newCourseCell = newCourseRow.insertCell(0);
            newCourseCell.colSpan = 3;
            // Fetch the courses from the server
            fetch('/api/courses')
                .then(response => response.json())
                .then(courses => {
                    // Create a select element
                    let selectCourse = document.createElement('select');
                    selectCourse.name = 'course_select';

                    let defaultCourseOption = document.createElement("option");
                    defaultCourseOption.value = "";
                    defaultCourseOption.text = "Select a course";
                    defaultCourseOption.disabled = true;
                    defaultCourseOption.selected = true;
                    selectCourse.appendChild(defaultCourseOption);

                    // Add an option for each course
                    courses.forEach(course => {
                        let optionCourse = document.createElement('option');
                        optionCourse.value = course.id; 
                        optionCourse.text = course.name; 
                        selectCourse.appendChild(optionCourse);
                    });

                    // Append the select element to the cell
                    newCourseCell.appendChild(selectCourse);
                })
                .catch(error => console.error('Error:', error));

            for (let i = 0; i < num_matches; i++) {
                let newMatchRow = roundsTable.insertRow();
                let newCell2_1 = newMatchRow.insertCell(0);
                newCell2_1.colSpan = 3;
                newCell2_1.innerHTML = "Match " + (i + 1);

                let newTeamRow = roundsTable.insertRow();
                let newTeamCell = newTeamRow.insertCell(0);
                newTeamCell.colSpan = 3;
                let newSelect = document.createElement("select");
                newSelect.name = "team_a_match_" + (i + 1);
                let defaultOptionA = document.createElement("option");
                defaultOptionA.value = "";
                defaultOptionA.text = "Select a team";
                defaultOptionA.disabled = true;
                defaultOptionA.selected = true;
                newSelect.appendChild(defaultOptionA);
                teamNames.forEach(function(team) {
                    let option = document.createElement("option");
                    option.value = team.id;
                    option.text = team.name;
                    newSelect.appendChild(option);
                });
                newTeamCell.appendChild(newSelect);
               
                let newTeamRow2 = roundsTable.insertRow();
                let newTeamCell2 = newTeamRow2.insertCell(0);
                newTeamCell2.colSpan = 3;
                let newSelect2 = document.createElement("select");
                newSelect2.name = "team_b_match_" + (i + 1);
                let defaultOptionB = document.createElement("option");
                defaultOptionB.value = "";
                defaultOptionB.text = "Select a team";
                defaultOptionB.disabled = true;
                defaultOptionB.selected = true;
                newSelect2.appendChild(defaultOptionB);
                teamNames.forEach(function(team) {
                    let option = document.createElement("option");
                    option.value = team.id;
                    option.text = team.name;
                    newSelect2.appendChild(option);
                });
                newTeamCell2.appendChild(newSelect2);
            }
            
        });

        saveRoundButton.addEventListener("click", function(event) {
            event.preventDefault();
            let form = document.getElementById("event_details_form");
            form.submit();
        });
       
    </script>
{% endblock %}

