{% extends "layout.html" %}

{% block title %}
    Event Settings
{% endblock %}

{% block main %}
    <div class="mb-3">
        <p><b>Event Name:</b> {{ event_name }}</p>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th colspan="2">Edit Team Names</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams_data %}
                <tr>
                    <form action="/event_settings" method="post">
                        <td id="team_name_new">
                            <input class="form-control mx-auto w-auto" name="team_name_new" value="{{ team.team_name }}" type="text">
                            <input name="team_id" value="{{ team.team_id }}" type="hidden">
                        </td>
                        <td>
                                <button class="btn btn-success" type="submit">Update</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form id="edit_hcps" action="/event_settings" method="post">
        <input type="hidden" name="num_teams" value="{{ num_teams }}">
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Edit Handicap Indexes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams_data %}
                        <tr>
                            <td colspan="2"><b>{{ team.team_name }}  - Players</b></td>
                        </tr>
                        <tr>
                            <td>
                                {{team.players[0].player_name}}
                            </td>
                            <td>    
                                <input class="form-control mx-auto w-auto" name="player_a_hcp_team_{{ loop.index0 }}" type="number" step="0.1" value="{{team.players[0].hcp_index}}">
                                <input name="player_a_id_team_{{ loop.index0 }}" value="{{team.players[0].player_id}}" type="hidden">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{team.players[1].player_name}}
                            </td>
                            <td>    
                                <input class="form-control mx-auto w-auto" name="player_b_hcp_team_{{ loop.index0 }}" type="number" step="0.1" value="{{team.players[1].hcp_index}}">
                                <input name="player_b_id_team_{{ loop.index0 }}" value="{{team.players[1].player_id}}" type="hidden">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-success" id="create_event" type="submit">Update Handicaps</button>
    </form>
    <p></p>
    <p>Play Off Low Handicap</p>
    No
    <label class="switch">
        <input type="checkbox" id="play-off-min-toggle" {% if play_off_min %}checked{% endif %}>
        <span class="slider round"></span>
    </label>
    Yes

    <script>
        document.getElementById('play-off-min-toggle').addEventListener('change', function() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/update_play_off_min', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                var response = JSON.parse(xhr.responseText);
                if (xhr.status >= 200 && xhr.status < 300 && !response.error) {
                    console.log('Success:', response);
                } else {
                    var errorMessage = response.error ? response.error : xhr.statusText;
                    console.log('Error:', errorMessage);
                    window.location.href = '/apology?message=' + encodeURIComponent(errorMessage);
                }
            };
            xhr.onerror = function () {
                // There was a connection error
                console.log('Connection error');
                // Redirect to the /apology route with the error message
                window.location.href = '/apology?message=' + encodeURIComponent('Connection error');
            };
            xhr.send(JSON.stringify({
                event_id: '{{ event_id }}',
                play_off_min: this.checked
            }));
        });
    </script>



{% endblock %}


