{% extends "layout.html" %}

{% block title %}
    Event Settings
{% endblock %}

{% block main %}
    <div class="mb-3">
        <p><b>Event Name:</b> {{ event_name }}</p>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th colspan="2">Team Names</th>
            </tr>
        </thead>
        <tbody>
            {% for team in team_names %}
                <tr>
                    <td>{{ team }}</td>
                    <td>
                        <form action="/event_settings" method="post">
                            <input name="team_name" value="{{ team }}" type="hidden">
                            <input name="team_name_edit_or_delete" value="edit" type="hidden">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                        <form action="/event_settings" method="post">
                            <input name="team_name" value="{{ team }}" type="hidden">
                            <input name="team_name_edit_or_delete" value="delete" type="hidden">
                            <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form id="edit_team_roster_hcp" action="/event_settings" method="post">
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Team Rosters</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in team_names %}
                        <tr>
                            <td><b>{{ team }}  - Players</b></td>
                            <input type="hidden" name="team_name_{{ loop.index0 }}" value="{{ team }}">
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <div>
                                        <select class="form-control" name="player_a_team_{{ loop.index0 }}">
                                            <option selected disabled>Player A</option>
                                            {% for player in group_players %} 
                                                <option value="{{ player.id }}">{{ player.player_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </span>
                                <span><input class="form-control mx-auto w-auto" name="hcp_player_a_team_{{ loop.index0 }}" type="number" step="0.1" placeholder="HCP"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <div>
                                        <select class="form-control" name="player_b_team_{{ loop.index0 }}">
                                            <option selected disabled>Player B</option>
                                            {% for player in group_players %} 
                                                <option value="{{ player.id }}">{{ player.player_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </span>
                                <span><input class="form-control mx-auto w-auto" name="hcp_player_b_team_{{ loop.index0 }}" type="number" step="0.1" placeholder="HCP"></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <button class="btn btn-primary" id="create_event" type="submit">Submit Teams</button>

{% endblock %}


