{% extends "layout.html" %}

{% block title %}
    Group Options
{% endblock %}

{% block main %}
    <form action="/create_group">
        <p>
            <button class="btn btn-success" name="group_action" value="create_group" type="submit">Create New Group</button>
        </p>
    </form>
 <div></div>
    <form action="/group_login">
        <p>
            <button class="btn btn-success" name="group_action" value="login_group" type="submit">Existing Group</button>
        </p>
    </form>
{% endblock %}
