{% extends "layout.html" %}

{% block title %}
    Group Home
{% endblock %}

{% block main %}
    <div class="mx-auto">
        <h2>{{ groupname }}</h2>
    </div>    

    <p></p>
    
        <!-- Build a table to show the active events -->
        <h2>Active Events </h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Rounds</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    {% if event.status == "INCOMPLETE" %}
                        <tr>
                            <td>
                                <form action="/" method="post">
                                    <input type="hidden" name="event_name" value="{{ event.event_name }}">
                                    <button type="submit" class="btn btn-link" style="color: green; text-decoration: underline;">{{ event.event_name }}</button>
                                </form>
                            </td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.rounds_count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if not incomplete_events_count %}
                        <tr>
                            <td colspan="3">No active events</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>

    <!-- Build a table to show completed events -->
    <h2>Past Events </h2>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Rounds</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                {% if event.status == "COMPLETE" %}
                    <tr>
                        <td>
                            <form action="/" method="post">
                                <input type="hidden" name="event_name" value="{{ event.event_name }}">
                                <button type="submit" class="btn btn-link" style="color: green; text-decoration: underline;">{{ event.event_name }}</button>
                            </form>
                        </td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.rounds_count }}</td>
                        <td>Winner tBD</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if not complete_events_count %}
                        <tr>
                            <td colspan="4">No completed events</td>
                        </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}
