{% extends "layout.html" %}

{% block title %}
    Invite Friends
{% endblock %}

{% block main %}
    <h2>Invite Friends</h2>
    <form action="/invite_friends" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="emails" placeholder="email(, email).." type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="group_password" placeholder="Group Password" type="password">
        </div>
        <button class="btn btn-success" type="submit">Send Invite Emails</button>
    </form>
    <br>
  
{% endblock %}
