{% extends "layout.html" %}

{% block title %}
    Players Page
{% endblock %}

{% block main %}

    <div class="mx-auto" id="player_table_top">
        <h2>{{ groupname }} Players ({{ num_players }})</h2>
        <br>
        <table class="table table-hover table-striped" >
            <thead>
                <tr class="table-primary">
                    <th>Player Name</th>
                    <th>Latest Handicap Saved</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="player_table">
                {% for player in players %}
                <tr>
                    <td>{{ player.player_name }}</td>
                    <td>{% if player.latest_hcp %}
                            {{ player.latest_hcp }}
                        {% else %}
                            No HCP
                        {% endif %}
                    </td>
                    <td>
                        <span>
                            <form action="/edit_delete_player" method="post">
                                <input name="player_name" value="{{ player.player_name }}" type="hidden">
                                <input name="edit_or_delete" value="edit" type="hidden">
                                <button class="btn btn-primary edit" type="submit">Edit</button>
                            </form>
                        </span>
             
                        <span>
                            <form action="/edit_delete_player" method="post">
                                <input name="player_name" value="{{ player.player_name }}" type="hidden">
                                <input name="edit_or_delete" value="delete" type="hidden">
                                <button class="btn btn-primary delete" type="submit">Delete</button>
                            </form>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    <div>
        <button class="btn btn-primary" id = "add_player">Add Player</button>
    </div>
    <p></p>
    <div>
        <i>Note: Latest handicap will be set via most recent dated event - otherwise will show No HCP.</i>
    </div>
    </div>
    <script>
        let playerTable = document.getElementById("player_table");
        let addPlayerButton = document.getElementById("add_player");

        addPlayerButton.addEventListener("click", function() {
            let newRow = playerTable.insertRow();
            
            // Insert an input element into the first cell
            let newCell = newRow.insertCell(0);
            let newForm = document.createElement("form");
            newForm.action = "/players";
            newForm.method = "post";
            newForm.id = "player_name_form";
            newCell.appendChild(newForm);

            let newInput = document.createElement("input");
            newInput.type = "text";
            newInput.name = "player_name";
            newInput.id ="player_name";
            newInput.placeholder = "Enter player name";
            newInput.classList.add("form-control");
            newInput.classList.add("mx-auto");
            newInput.classList.add("w-auto");
            document.getElementById("player_name_form").appendChild(newInput);
            newInput.focus();

            // Add Enter button to second cell
            let newCell2 = newRow.insertCell(1);
            let newInput2 = document.createElement("button");
            newInput2.id = "submit_button";
            newInput2.classList.add("btn");
            newInput2.classList.add("btn-primary");
            newInput2.textContent = "Submit";
            newCell2.appendChild(newInput2);

            //Delete Edit and Delete columns, not needed
            var rowCount = playerTable.rows.length;
            let index = 2;
            for (var i = 0; i < rowCount; i++) {
                if (playerTable.rows[i].cells.length > index) {
                    playerTable.rows[i].deleteCell(index);
                }
            }

            // Hide the add player button
            addPlayerButton.style.display = "none";

            // Submit the player name form
            let submitButton = document.getElementById("submit_button");
            submitButton.addEventListener("click", function() {
            let form = document.getElementById("player_name_form");
            form.submit();
            });
        });


    </script>

{% endblock %}
