{% extends "layout.html" %}

{% block title %}
    Scorecard Edit
{% endblock %}

{% block main %}
    <h1>Scorecard Input</h1>
    
    <form action="/scorecard_processing" method="post"></form>
        
        <div class="mb-3">
            <p><b>Course:</b> {{ course_display_name }}</p>
            <input type="hidden" name="match_id" value="{{ match_id }}">
            <input type="hidden" name="player_id" value="{{ player_id }}">
        </div>

        <table class="table table-hover table-striped">
            <thead>
                <tr></tr>
                    <th>Hole #</th>
                    {% for hole in holes%}
                        <th>{{ hole.hole_number }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Par</th>
                    {% for hole in holes %}
                        <th>{{ hole.par }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Hcp</th>
                    {% for hole in holes %}
                        <th>{{ hole.hole_hcp }}</th>
                    {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <td>Player name</td>
                    {% for hole in holes %}
                        <td>
                            <!-- Input cell for each hole with indentifying hole number -->
                                <input autofocus class="scorecard_cell" type="number" step="1" name="score_hole_{{ hole.hole_number }}" value="{{ hole.score }}">
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Submit Scorecard</button>
    </form>
    <script>
        // Add event listener to each input cell, if a number >1 is input, move focus to the next cell
        document.addEventListener('DOMContentLoaded', function() {
            var cells = document.querySelectorAll('.scorecard_cell');
            cells.forEach(function(cell, index) {
                cell.oninput = function() {
                    if (parseInt(this.value) > 1) {
                        var nextCell = cells[index + 1];
                        if (nextCell) {
                            nextCell.focus();
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
